.body{
  font-family: 'Nunito', sans-serif;

}

.main{
  font-family: 'Nunito', sans-serif;

}

.Header{
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;


}

.Title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 5;

}

.Title h1{
  margin-bottom: 0px;
  /* display: flex;
  justify-content: center;
  align-content: center; */
}
.navBar{
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.a{
  color: black;
}

. a:hover{
  color: #f86832;
}

.Home{
  display: flex;
  justify-content: space-between;
}

.mainContainer{
  display: flex;
  padding: 100px;

}

.dinnerContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 50vw;

}

.drinkContainer{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.dinnerHeaders{


}

.Tagline{
  padding-bottom: 10px;

}

.cuisine{

}

.drinks{

}

@media screen and (max-width: 640px) {
  .Header {
    flex-direction: column;
  }

  .Header nav a {
    font-size: 14px;
  }

  .Home{
    flex-direction: column;
  }

  .mainContainer{
    flex-direction: column;
  }

  .dinnerContainer{
    padding-right: 50px;
    flex-wrap: wrap;
  }

  .drinkContainer{
    padding-left: 50px;
  }

  .cuisine{
    display: flex;
    flex-wrap: wrap;
  }

  .cuisine p{
    padding-right: 10px;
  }

}
