.Header{
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;


}

.Title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 5;
}

.Title h1{
  color: #f86832;
  margin-bottom: 0px;
}



.navBar{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px;
  background-color: #E6E6E6;
  border-radius: 60px;
}

.navBar nav a{
  font-size: large;
  text-decoration: none;
  color: black;
}
.navBar nav a:hover{
  color: #f86832;
}

.a{
  color: black;
}

. a:hover{
  color: #f86832;
}

.Home{
  display: flex;
  justify-content: center;
}

.mainContainer{
  font-family: 'Nunito', sans-serif;
  background-color: #F8F8F8;
  border-radius: 30px;;
  display: flex;
  justify-content: center;
  margin-top: 43px;
  padding: 0px 100px 100px 100px;
}

.dinnerContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  min-width: 50vw;
}

.drinkContainer{
  display: flex;
  flex-direction: column;
}

.dinnerHeaders{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}

.Tagline{
  padding-bottom: 10px;
}

.cuisine{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 270vh;
  width: 50vw;
}


@media screen and (max-width: 640px) {

  .navBar nav{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .mainContainer{
    margin-top: 10px;
    padding-top: 10px;
    flex-direction: column;
  }

  .dinnerContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .cuisine{
    display: flex;
    flex-wrap: wrap;
  }

  .cuisine p{
    padding-right: 10px;
  }

}
